#category-title > ul {
  background: #ededed;
  border-radius: 3px;
  margin-bottom: 0;
}
#category-title > ul > li {
  width: 100%;
}
#category-title > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
  border-bottom: 1px solid #ccc;
}
#category-title > ul > li > ul {
  overflow: hidden;
  display: none;
  background: #f9f9f9;
}
#category-title > ul > li > ul > li {
  float: left;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#category-title > ul > li > ul > li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #333;
}
